name: Upload coverage and test results

on:
  push:
    branches:
      - main

jobs:
  upload-coverage:
    name: Upload coverage and test results to Codecov
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Download junit.xml artifact
        uses: actions/download-artifact@v3
        with:
          name: junit-report

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true

      - name: Upload test results to Codecov
        uses: codecov/test-results-action@v1
        with:
          files: junit-report/junit.xml
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
